{% extends "template.twig" %}

{% block header %}
    <h2>Плейлист не найден</h2>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>
                Плейлист {{ id }} не найден
            </p>
            <a class="btn btn-outline-light" href="{{ base_url() }}" title="На главную">
                Перейти к списку
            </a>
        </div>
    </div>
{% endblock %}
