# config/app.php
APP_DEBUG=false
APP_ENV=prod
APP_URL=http://localhost:8080
APP_TITLE='IPTV Плейлисты'
USER_AGENT='Mozilla/5.0 (Windows NT 10.0; Win64; x99) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/133.0.0.0 Safari/537.36'
PAGE_SIZE=10

# config/redis.php
REDIS_HOST='keydb'
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL_DAYS=14

# config/redis.php
TWIG_USE_CACHE=true
TWIG_DEBUG=false
